<!DOCTYPE html>
<html>
<head>
	<title>Python Quiz</title>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>

	<div class ="home-box custom-box " >
		<h3>Οδηγίες:</h3>
		<p>Ακολουθούν  <span class="total-question"></span> τυχαία επιλεγμένες ερωτήσεις
		Σε περίπτωση που απαντήσεις σωστά η απάντηση θα γίνει πράσινη.Στην αντίθετη περίπτωση
		θα γίνει κόκκινη ενώ θα σου αποκαλυφθεί και η σωστή. Μπορείς αν θες να παραλήψεις ερωτήσεις.
		Στο τέλος θα εμφανιστούν τα στατιστικά σου. Καλή επιτυχία!</p>
		<button type="button" class="btn" onclick="startQuiz()">Ξεκίνα</button>
	</div>

	<div class="quiz-box custom-box hide">
		<div class="question-number">
			
		</div>
		<div class="question-text">
			
		</div>
		<div class="option-container">
			
		</div>
		<div class="next-question-btn">
			<button type="button" class="btn" onclick="next()">Επόμενη</button>
			<button type="button" class="btn" onclick="goToHome()">Έξοδος</button>
		</div>

		<div class="answers-indicator">
			
		</div>

	</div>

	<div class="result-box custom-box hide">
		<h1>Αποτελέσματα</h1>
		<table>
			<tr>
				<td>
					Συνολικές ερωτήσεις
				</td>
				<td><span class="total-question"></span></td>
			</tr>
			<tr>
				<td>
					Προσπάθειες
				</td>
				<td><span class="total-attempt"></span></td>
			</tr>
			<tr>
				<td>
					Σωστές
				</td>
				<td><span class="total-correct"></span></td>
			</tr>
			<tr>
				<td>
					Λάθος
				</td>
				<td><span class="total-wrong"></span></td>
			</tr>
			<tr>
				<td>
					Ποσοστό
				</td>
				<td><span class="percentage"></span></td>
			</tr>
			<tr>
				<td>
					Το τελικό σου σκορ
				</td>
				<td><span class="total-score"></span></td>
			</tr>
		</table>
		<button type="button" class="btn" onclick="tryAgainQuiz()">Προσπάθησε ξανά</button>
		<button type="button" class="btn" onclick="goToHome()">Επέστρεψε στην αρχική</button>
	</div>


<script src="static/js/question.js"></script>
<script src="static/js/app.js"></script>
</body>
</html>


